body {
	font: 400 14px "Open Sans", "Arial", sans-serif;
	color: @body-color;
}

a:hover {
	text-decoration: none;
}

.main-header {
	min-height: 100vh;
	background: #ecebeb url("img/desk-bottom.png") no-repeat bottom;
	background-size: contain;
}

.title-name {
	font: 36px "Open Sans", "Arial", sans-serif;
	.color {
		text-transform: uppercase;
		color: @main-color;
	}
	.three-dots {
	   	display: block;
	    font-size: 50px;
	    line-height: 0;
      margin: 0 0px 25px;
	    color: #000;
      letter-spacing: 5px;
      &.three-dots_center {
      	margin: 0 73px 25px;
      }
	}
	&.title-name_affermation {
		text-align: center;
		padding: 35px 0;
	}
	&.title-name_right {
		text-align: right;
	}
}

.btn {
	background: @main-color;
	color: @white;
	padding: 3.5px 0px;
	max-width: 174px;
	width: 100%;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14px;
	&:hover {
		color: @white;
		background: @hover-dark;
	}
}

@media (min-width: 1310px) {
	.container-set-lg {
    	max-width: 1310px;
    }
}