.modal-content {
	.modal-title {
		width: 100%;
	}
}

.greed-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-text {
	max-width: 656px;
	.title-name {
		margin-bottom: 0;
	}
	p {
		font-size: 36px;
		margin: 0;
		font-weight: 400;
		span {
			text-transform: uppercase;
			&.color {
				color: @main-color;
			}
		}
	}
}

.navbar-set {
	display: flex;
	justify-content: space-between !important;
	padding: 25px 0;
	.navbar-collapse {
		flex-basis: auto;
	}
	.navbar-toggler {
		padding: 9px 10px;
		cursor: pointer;
		border: 1px solid;
		background: transparent;
		.icon-bar {
			background: #000;
		    display: block;
		    width: 22px;
		    height: 2px;
		    margin-top: 4px;
		    border-radius: 1px;
		}
		.icon-bar:first-child {
			margin-top: 0;
		}
	}
}

.navigation-list {
	li {
		padding: 10px;
		a {
			text-transform: uppercase;
			color: @body-color;
			.transition();
			&:hover {
				text-decoration: none;
				color: @main-color;
			}
		}
	}
}

.block-fix_center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: calc(~'100vh - 200px');
}

.form-communication {
	max-width: 468px;
	width: 100%;
	padding: 25px;
	background: @white;
	margin-left: auto;
	border-radius: 5px;
	.form-title {
		font-size: 18px;
		text-align: center;
		margin-bottom: 20px;
	}
	.form-control {
		padding: 14px 10px;
	}
	.form-check {
		font-size: 18px;
		text-align: center;
		margin: 20px 0;
	}
	.btn {
		display: block;
		margin: 0 auto;
	}
}

.block-quest {
	padding-top: 100px;
	.title-name {
		padding-top: 30px;
	}
	.change {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 30px 0;
		min-height: 184px;
		.text {
			flex-basis: 50%;
			font-size: 18px;
			span {
				color: @main-color;
				text-transform: uppercase;
			}
		}
		.circle {
			display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
		    position: relative;
		    width: 150px;
		    height: 150px;
		    border: 1px solid;
		    border-radius: 50%;
		    p {
		    	display: flex;
		    	flex-direction: column;
		    	align-items: center;
		    	font-size: 18px;
		    	margin: 0;
		    }
		    span {
	    		font-size: 48px;
	    		&.sign {
	    			font-size: 78px;
	    		}
	    	}
		}
	}
}

.programm {
	background: url("img/fon-2.jpg") no-repeat;
	background-size: cover;
	padding: 60px 0;
	.title-name {
		text-align: center;
		padding-bottom: 50px;
		.color {
			text-transform: capitalize;
		}
	}
	.course {
		background: @white;
		margin-bottom: 15px;
		.img-fluid {
			width: 100%;
		}
		.name-course {
			font-size: 24px;
			padding: 10px 30px;
		}
		.list-course {
			// list-style-type: none;
			padding-left: 48px;
			margin: 0;
			li {
				// padding-left: 30px;
				margin-bottom: 10px;
				font-size: 16px;
			}
		}
		.btn {
			margin: 10px 30px;
		}
	}
}

.contact {
	padding: 60px 0;
	.box:hover {
		.circle {
			background: #019da8;
		}
		.circles::after,
		.circles::before {
			transform: scale(0);
		}
	}
	.circles {
		position: relative;
		width: 150px;
		height: 110px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		.circle {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -40px;
			margin-left: -40px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 999;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background: @circle-center;
			transition: 450ms;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			border-radius: 50%;
			width: 80px;
			height: 80px;
			background: @circle-bottom;
			transition: 450ms;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 50%;
			width: 80px;
			height: 80px;
			background: @circle-top;
			transition: 450ms;
		}
	}

	.option-text {
		font-size: 18px;
		// padding-bottom: 20px;
		margin-bottom: 0;
		.tree-dots {
		    display: block;
		    font-size: 60px;
		    line-height: 0;
		    margin: 0px 0 30px;
		    color: @black;
		}
	}

	.info {
		font-size: 30px;
		font-weight: 400;
		color: @main-color;
	}
}

.faq {
	padding: 60px 0;
	background: #ecebeb;
	.title-name {
		text-align: center;
	}

	.panel-group {
		.panel {
			background: #fff;
			padding: 7px 50px;
			margin-bottom: 15px;
			border: 1px solid #c9c9c9;
			.transition();
			&:hover {
				border: 1px solid #00b9c6;
				box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
				.panel-title a {
					color: @main-color;
				}
			}
			.panel-title {
				margin-bottom: 0;
				a {
					font-size: 18px;
					color: @body-color;
					font-weight: 300;
					.transition();
					&:hover {
						text-decoration: none;
					}
				}
			}
			.text {
				padding: 10px 0;
				margin-bottom: 0;
			}
		}
	}

	.questions {
		display: flex;
		justify-content: flex-end;
	    align-items: center;
	    margin-top: 40px;
	    p {
	    	margin-bottom: 0;
	    	margin-right: 20px;
	    }
	}
}
