body {
  font: 300 14px "Roboto", "Arial", sans-serif;
  color: #4d4a40;
}
.main-header {
  height: 100vh;
  background: #ecebeb url("img/desk-bottom.png") no-repeat bottom;
  background-size: contain;
}
.title-name {
  font: 36px "Roboto", "Arial", sans-serif;
}
.title-name span {
  text-transform: uppercase;
  color: #00b9c6;
}
.btn {
  background: #00b9c6;
  color: #fff;
  padding: 3.5px 35px;
}
.greed-between {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 -15px;
}
.main-text {
  max-width: 656px;
}
.main-text .title-name {
  margin-bottom: 0;
}
.main-text p {
  font-size: 36px;
  margin: 0;
}
.main-text p span {
  text-transform: uppercase;
}
.main-text p span.color {
  color: #00b9c6;
}
.form-communication {
  max-width: 468px;
  width: 100%;
  padding: 20px;
  background: #fff;
  margin-left: auto;
}
@media (min-width: 1310px) {
  .container-set-lg {
    max-width: 1310px;
  }
}
